<footer class="bg-primary text-light fixed-bottom">
    <div class="container py-3">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">© 2024 Dating App. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="text-light text-decoration-none" href="about-us">About Us</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-light text-decoration-none" href="privacy-policy">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-light text-decoration-none" href="contact-us">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>