<div class="container-fluid">
    <!-- Header -->
    <div class="row">
        <div class="col-12 bg-primary py-3">
            <app-header></app-header>
        </div>
    </div>

    <!-- Content Area with Sidebar and Main Content -->
    <div class="row flex-grow-1">
        <div class="col-12 bg-warning py-3">
            <router-outlet></router-outlet>
        </div>
    </div>

    <!-- Footer -->
    <div class="row">
        <div class="col-12 bg-primary py-3">
            <app-footer></app-footer>
        </div>
    </div>
</div>